<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ExerciseCRUD.Properties.Settings.RezkaConnectionString"
            connectionString="Data Source=DESKTOP-5LL6UN5\REZKAMULYA;Initial Catalog=Rezka;User ID=sa;Password=rezka123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>